@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.page {
  /* fundo */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(../img/img-eduardo/fundo.certo.jpeg);
  background-size: cover;
}

.formLogin {
  /* caixa login */
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 40px;
  padding: 40px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
}

.areaLogin img {
  width: 420px;
}

.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 25px;
}

.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 15px;
  transition: all linear 160ms;
  outline: none;
}


.formLogin input:focus {
  border: 1px solid #ffffff;
}


.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

.formLogin a {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #ffffff;
  transition: all linear 160ms;
}

.formLogin a:hover {
  color: #054f77;
}

.btn {
  background-color: #054f77;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
}

.btn:hover {
  transform: scale(1.05);
  background-color: #f700005d;
}

.voltar {
  color: #fff;
}

.voltar:hover {
  color: #f700005d;
  transition: all linear 160ms;
  transform: scale(1.05);
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px;
  color: #e5e5e5;
}

.header {
  color: #ffffff8f;
  padding: none;
  text-align: center;
  position: absolute;
  top: 0;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: "Signica", sans-serif;
}

.logo {
  text-align: center;
}

@media (min-width: 450px) and (max-width: 1024px) {
  .container {
    width: 50%;
  }
  .formCadastro {
    width: 100%;
  }
}
